.board-container{
    background-color: rgb(77, 104, 105);
    width: 90%;
    padding-top: 30px;

    .turn {
        text-align: center;
    }
    
    .board {   
        margin: 0 auto;
        padding-bottom: 200px;
    }
    }

@media (min-width: 800px) {
    .board-container {
        margin: 0 auto;
        .turn {
            text-align: center;
        }
        .board {
            margin: 50px;
            padding-bottom: 200px;
        }
    }
}