
.header-container {
    color: white;
    padding: 30px;
    background-color: rgb(13, 27, 155);
   
    .header {
        margin: 0;
        text-align: center;
    
        .play {
            font-family: 'Amatic SC', cursive;
            // font-family: 'Odibee Sans', cursive; 
             font-family: 'Krona One', sans-serif; 
             font-family: 'Oswald', sans-serif;
        }
        .othello {
           
            font-family: 'Amatic SC', cursive;
           
            font-size: 80px;
        }
    }
}

