.row-container {
    display: flex; 
    justify-content: center;
}
.square{
   height: 30px;
   width: 30px;
   background-color: rgb(154, 216, 206);
   padding: 0;
}

@media(min-width: 700px) {
    .row-container {
        display: flex; 
        justify-content: center;
    }
    .square{
       height: 50px;
       width: 50px;
       background-color: rgb(154, 216, 206);
       padding: 0;
       margin: 0;
       border: 0.5px solid black;
    }
}