.game {
    background-color: rgb(19, 47, 58);
    width: 95%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

@media (min-width: 800px) {
    game {
        background-color: rgb(19, 47, 58);
        width: 60vw;
        display: flex;
        justify-content: center;
        padding-left: 5%;
    }
}