.choice-row {
    padding-left: 5%;
    .color-row { 
        width: 100%;
        padding: 5%;
    }
    .color {
       height: 30px;
       width: 30px;
       padding: 0;
       background-color: rgb(62, 86, 102);
    }
    button {
        margin: 2px;
        font-family: 'Amatic SC', cursive;
        background-color: orange;
        font-size: 1em;
    }
}


@media(min-width: 700px) {
    .choice-row {
        font-family: 'Oswald', sans-serif;
        width: 25vw;
        padding-left: 4%;
    .color-row {
       width: 100%;
       padding: 5%;
    }
    .color {
       height: 50px;
       width: 50px;
       background-color: rgb(19, 47, 58);
       padding: 0;
       margin: 0;
       border: 0px;
    }

    button {
        margin: 30px;
        font-family: 'Amatic SC', cursive;
        background-color: orange;
        font-size: 2.5em;
    }
}
}