* {
  box-sizing: border-box;
  
  /* /* font-family: 'Amatic SC', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Krona One', sans-serif;
  font-family: 'Odibee Sans', cursive; */
  font-family: 'Oswald', sans-serif;
}

.App {
  background-color: rgb(19, 47, 58);
  color: white;
  padding-bottom: 200px;
  font-size: 1em;
}
main {
  background-color: rgb(62, 86, 102);
  padding-bottom: 200px;
  
}

a:link {
  text-decoration: none;
}
.player {
  font-family: 'Amatic SC', cursive;
  font-size: 1.4em;
}

@media(min-width: 700px) {
  main {
    background-color: rgb(19, 47, 58);
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .player {
    font-family: 'Amatic SC', cursive;
    font-size: 1.4em;
  }
}